
 body, h1, h2, h3, h4, h5, h6 {
  font-family: "Space Mono", monospace;
}


img {
  width: 100%;
  height: auto;
  display: block; /* This ensures the margin works correctly */
  max-width: 250px;
}


:root {
  --ifm-color-primary:#800000;
  --ifm-color-primary-dark: #800000;
  --ifm-color-primary-darker: #800000;
  --ifm-color-primary-darkest: #800000;
  --ifm-color-primary-light: #800000;
  --ifm-color-primary-lighter: #800000;
  --ifm-color-primary-lightest: #800000;
  --ifm-code-font-size: 95%;
}

[data-theme='dark'] {
  --ifm-color-primary:#1E90FF;
  --ifm-color-primary-dark: #1E90FF;
  --ifm-color-primary-darker: #1E90FF;
  --ifm-color-primary-darkest: #1E90FF;
  --ifm-color-primary-light: #1E90FF;
  --ifm-color-primary-lighter: #1E90FF;
  --ifm-color-primary-lightest: #1E90FF;
}

